/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2017, 8:52:57 PM
    Author     : RAJESH
*/

#navbar-nav li{
    margin-top: 5px;
}
#navbar-nav{
    height: 65px;

}

#fluid10{
    position:relative;
    background: url(../image/img05.jpg) repeat top center;
    width:1100px;
    height:900px;
    margin:0 auto;
    margin-top: -2%;

}
#fluid10 div{
    margin-left: 15%;
}
#bk{
    background: url(../image/leaf1.jpg);
    width: 600px;
}

#bk input[type=text], input[type=password],input[type=email]{
    width: 80%;
    height: 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

     background: #fff;


}
#bk p{
    color: #c6d8a6;
}
#bk h1{
    color:  	 #26d9d0;
        font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.submit{
    background: url(../image/submit.PNG) repeat top center;
    width: 80%;
    height: 50px;
    color:white;   
} 
.submit:hover{
    background: #f47a20;
    color: #fff;
}
.select{
    width: 80%;
    height: 50px;
    background: rgba(0,0,0,0.3);
    color: chartreuse;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
select option{
    background: #6a6340;
}